<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title> {% block title %} {% endblock title %} | Minakshi
  </title>

  <!--CSS For footer CSS CUSTOM -->
  {% load static %}
  <link rel="stylesheet" href="{% static '/footerstyles.css' %}">
  <style>
    .color-wh {
      color: #fff !important;
    }
  </style>
</head>

<body>
  <!--Navbar Header-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/welcome"><img class="logoimg" src="/static/img/lg.jpg" /> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'blogHome' %}">Blog</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" aria-current="page" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'services' %}">Action</a></li>
              <li><a class="dropdown-item" href="{% url 'services' %}">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'services' %}">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" method="get" action="/search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query"
            id="query">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>


        {% if user.is_authenticated %}
        <ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle color-wh active" aria-current="page" href="#" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome {{request.user}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>

      </div>
      {% else %}



      <!-- Login Button trigger modal -->
      <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#loginModal">
        Login
      </button>
      <!-- SignUp Button trigger modal -->
      <button type="button" class="btn btn-success mx-0" data-bs-toggle="modal" data-bs-target="#signupModal">
        SignUp
      </button>
      {% endif %}
    </div>
  </nav>
  <!--Messeges alert after contact form submission-->

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}

  <!-- Model for signUp -->
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalTitle">SignUp Here</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/signup" method='post'>
            <div class="mb-3">
              <label for="username">User Name</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Chose Unique User Name"
                required>
            </div>
            <div class="mb-3">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter First Name" required>
            </div>
            <div class="mb-3">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Last Name" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
            </div>
            <div class="mb-3">
              <label for="pass1" class="form-label">Enter Passward</label>
              <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Create Passward"
                required>
            </div>
            <div class="mb-3">
              <label for="pass2" class="form-label">Re-Enter Passward</label>
              <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Confirm Passward"
                required>
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <!-- Model for Login -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login Here</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/login" method='post'>
            <div class="mb-3">
              <label for="username">User Name</label>
              <input type="text" class="form-control" id="loginusername" name="loginusername"
                placeholder="Enter User Name">
            </div>
            <div class="mb-3">
              <label for="pass" class="form-label">Enter Passward</label>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword"
                placeholder="Enter Passward">
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <!--Body tag-->
  {% block body %} {% endblock body %}

  <!-- Site footer -->
  <footer class="site-footer px-2">
    {% comment %} <div class="container"> {% endcomment %}
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6 class="titlecolor"> About</h6>
          <p class="text-justify"> Django is a high-level Python Web framework that encourages rapid
            development and clean, pragmatic design. Built by experienced developers, it takes care of much of the
            hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s
            free and open source.
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6 class="titlecolor">Services</h6>
          <ul class="footer-links">
            <li><a href="#">C</a></li>
            <li><a href="#">UI Design</a></li>
            <li><a href="#">PHP</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="#">Android</a></li>
            <li><a href="#">Templates</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6 class="titlecolor">Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
      {% comment %}
    </div> {% endcomment %}
    {% comment %} <div class="container"> {% endcomment %}
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright & copy; 2021 All Rights Reserved by BKY
            <a href="#"> ; desined & developed by Brijesh</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/" target="_"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/" target="_"><i class="fa fa-twitter"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/" target="_"><i class="fa fa-dribbble"></i></a>
            </li>
            <li><a class="linkedin" href="https://in.linkedin.com/" target="_"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        {% comment %}
      </div> {% endcomment %}
    </div>
  </footer>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>

</html>