{% extends 'base.html' %}

{% block title %} Blog {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}

{% block body %} 
<div class="container my-3">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}} by <a href="/about">{{post.author}}</a></p>
        <p>{{post.content}}</p>
        <hr>
        </div>
{% endblock body %}