{% extends 'base.html' %}

{% block title %}
Contact
{% endblock title %}

{% block body %}
<div class="container my-1">
  <img src="/static/img/10.jpg" class="d-block w-100" alt="..." height="300">
</div>
<h3 class="my-2 text-center"> Contact Us </h3>

<!--Form coding-->
<div class="container my-2 mx-4 px-5">
  <form method="post" action="/contact">  
  {% csrf_token %}
    <div class="form-group mb-2">
      <label for="name">Your Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="your name">
    </div>
    <div class="form-group mb-2">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
    </div>
    <div class="form-group mb-2">
      <label for="phone">Phone Number</label>
      <input type="phone" class="form-control" id="phone" name="phone" placeholder="mobile number">
    </div>
    <div class="form-group mb-2">
      <label for="desc">Description</label>
      <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
    </div>
    <button class="btn btn-primary my-2" type="submit"> Submit </button>
  </form>
</div>

{% endblock body %}