{% extends 'base.html' %}

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static '/footerstyles.css' %}">
</head>

{% block title %}
Home
{% endblock title %}


{% block body %}
<div class="container my-4">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/img/1.jpg" class="d-block w-100" alt="..." height="400">
        <div class="carousel-caption d-done d-md-block">
          <h5>This is first slide </h5>
          <p> First Image </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/img/2.jpg" class="d-block w-100" alt="..." height="400">
        <div class="carousel-caption d-done d-md-block">
          <h5>This is second slide </h5>
          <p> second Image </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/img/3.jpg" class="d-block w-100" alt="..." height="400">
        <div class="carousel-caption d-done d-md-block">
          <h5>This is third slide </h5>
          <p> third Image </p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!--Album code card-->
<div class="container my-3">
  <h6 class="my-2 text-center"> Welcome on my website!!!</h6>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for prod in productss %}
    <div class="col-3">
      <div class="card shadow-sm">
        <img src="{{ prod.image}}" class="d-block w-60" alt="..." height="250">
        <div class="card-body">
          <h2 class="card-text">{{prod.product_name}}</h2>
          <p class="card-text">{{prod.desc}}</p>
          <p class="card-text">Price INR Rs- <b>{{prod.price}} </b></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-primary">View</button>
              <button type="button" class="btn btn-primary mx-2">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

<!-- add card blog-->
<div class="my-3 ">
  <div class="row">
    <div class="col-md-9">
      <div class="post-outer">
        <article class="post ty-article">
          <div class="ty-inner">
            <div class="block-image">
              <a class="thumb" href="#">
                <img alt="ShoppinglyX Django Ecommerce Project" class="ty-thumb" src="/static/img/7.jpg" </a>
            </div>
            <div class="date-header">
              <h2 class="post-title entry-title">
                <a href="https://bky.herokuapp.com/tute2">
                  ShoppinglyX Ecommerce Project
                </a>
              </h2>
              <div class="ty-meta meta-post">
                <span class="author-link vcard">
                </span>
                <a class="timestamp-link" href="#" rel="bookmark" title="permanent link"><abbr class="published"
                    itemprop="datePublished dateModified" title="1:44 PM">1:44 PM</abbr></a>
              </div>
              <p class="post-snip"> ShoppinglyX Project with and without Paypal Payment Gateway &nbsp; is a
                Ecommerce Project. .&nbsp; What I will Learn ? You will learn...</p>
              <span class="more-link">
                <a href="#">Read more »</a>
              </span>
            </div>
          </div>
          <div class="clear"></div>
        </article>
      </div>
      <div class="post-outer">
        <article class="post ty-article">
          <div class="ty-inner">
            <div class="block-image">
              <a class="thumb" href="#">
                <img alt="ShoppinglyX Django Ecommerce Project" class="ty-thumb" src="/static/img/8.jpg" </a>
            </div>
            <div class="date-header">
              <h2 class="post-title entry-title">
                <a href="https://bky.herokuapp.com/tute2">
                  ShoppinglyX Ecommerce Project
                </a>
              </h2>
              <div class="ty-meta meta-post">
                <span class="author-link vcard">
                </span>
                <a class="timestamp-link" href="#" rel="bookmark" title="permanent link"><abbr class="published"
                    itemprop="datePublished dateModified" title="1:44 PM">1:44 PM</abbr></a>
              </div>
              <p class="post-snip"> ShoppinglyX Project with and without Paypal Payment Gateway &nbsp; is a
                Ecommerce Project. .&nbsp; What I will Learn ? You will learn...</p>
              <span class="more-link">
                <a href="#">Read more »</a>
              </span>
            </div>
          </div>
          <div class="clear"></div>
        </article>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <strong>
            <h5 class="card-title">SIDE BAR</h5>
          </strong>
          <div>

            <marquee width="100%" direction="left" height="30%">
              Nature always wears the colors of the spirit!!!
            </marquee>

          </div>

          <img src="../static/img/side.jpg" style="width:100%">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock body %}