{% extends 'base.html' %}

{% block title %} Search Results {% endblock title %}

{% block blogactive %} active {% endblock blogactive %}
{% block body %}
<div class="container my-3">
    <h2>Search Results:</h2>
    {% if allPosts|length < 1 %} <p> No Search Result</p>
        Suggestions:<br>
        Try different keywords.
    {%endif%}

    {% for post in allPosts %}
        <div
            class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
                <h3 class="mb-0">{{post.title}}</h3>
                <div class="mb-1 text-muted">{{post.datetime}}</div>
                <p class="card-text mb-auto">{{post.content| truncatechars:500 }}</p>
                <div class="my-2">
                    <a href="{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">

            </div>
        </div>


        {% endfor %}
</div>
{% endblock body %}