
{% extends 'base.html' %}

{% block title %}
Welcome
{% endblock title %}

{% block body %}

  
   <div class="card">
  <div class="card-header">
    Welcome on BKY
  </div>
  <div class="card-body">
    <h5 class="card-title">All in one</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Comming Soon</a>
  </div>
</div>
{% endblock body %}